<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>GPsup</title>
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/theme.css" />
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/default.css" />
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/form.css" />
</h:head>
<body>
<div class="central">
		<p:panel header="Entrar" style="width:250px;">
	        <p:messages autoUpdate="true"/>
	        <h:panelGrid id="grid"  cellpadding="2">
	            <h:outputLabel for="name" value="Usuário:" style="font-weight:bold"/>                    
	            <p:inputText id="name" value="#{User.username}" style="height:20px;" required="true" label="Name"/>
	 
	 			<h:outputLabel for="senha" value="Senha:" style="font-weight:bold"/>     
	       	    <p:keyboard id="senha" value="#{User.password}" password="true"  style="height:20px;" showMode="button" buttonImageOnly="true"
                        buttonImage="images/keyboard.png"/>
	        </h:panelGrid>
	 		<div align="center">
	       		<p:commandButton position="center" value="Entrar" id="entrar" actionListener="#{User.authenticate}" styleClass="ui-priority-primary" />
	 		</div>
	    </p:panel>
	    </div>
</body>
</html>